doctype html
html
  head
    link(href='../styles/main.css',rel='stylesheet')
    meta(charset='utf-8')
    title QQ邮箱 - 收件箱
  body
    div.header
      div.logo
      div.profile
        div.info 子非鱼&nbsp;&lt;450225299@qq.com&gt;
        ul
          li
            a(href='#') 邮箱首页
          li
            a(herf='#') 设置
          li
            a(heff='#') 换肤
      div.header-search
        div.header-option
          ul
            li
              a(href='#') 反馈建议
            li
              a(href='#') 帮助中心
            li
              a(href='#') 退出
        div.input-txt
          input(type='text',placeholder='邮件全文搜索')#search-txt
    div.content
      div.nav-list
        ul
          li
            span.write-letter
            a(href='#') 写信
          li
            span.receive-letter
            a(href='#') 收信
          li
            span.contact
            a(hef='#') 通讯录
      div.work-area