html {
  height: 100%;
}
body {
  height: 100%;
}
body,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  font-size: 12px;
  height: 68px;
  background-color: #334861;
  color: #CCDFE1;
}
.header .logo {
  float: left;
  width: 205px;
  height: 62px;
  background: url('../imgs/logo.gif') left top no-repeat;
}
.header .profile {
  float: left;
  width: 200px;
  padding-left: 10px;
  margin: 17px 1px 5px 0;
}
.header .profile .info {
  font-weight: bold;
}
.header .profile ul {
  padding-left: 0;
  margin-top: 8px;
}
.header .profile li {
  float: left;
  margin-right: 10px;
}
.header .profile a {
  color: #CCDFE1;
  text-decoration: none;
  cursor: pointer;
}
.header .profile a:hover {
  color: #CCDFE1;
  text-decoration: underline;
}
.header .header-search {
  float: right;
  width: 250px;
}
.header .header-search .header-option {
  margin: 5px;
  position: absolute;
  right: 3px;
  top: 11px;
}
.header .header-search .header-option li {
  float: left;
  margin-right: 7px;
}
.header .header-search .header-option li a {
  text-decoration: none;
  color: #CCDFE1;
}
.header .header-search .input-txt {
  margin: 15px 3px 3px 5px;
  padding-right: 5px;
  width: 250px;
  position: absolute;
  top: 25px;
  right: 20px;
}
.header .header-search .input-txt input {
  width: 100%;
  margin-right: 3px;
  padding-left: 20px;
}
.header .header-search .input-txt .search {
  background: url('../imgs/search-icons.png') left top no-repeat;
  width: 18px;
  height: 16px;
  position: absolute;
}
.header .header-search .input-txt .drop-down {
  background: url('../imgs/search-icons.png') left top no-repeat;
  width: 18px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: -15px;
  background-position: -25px 0px;
}
.content {
  height: 100%;
}
.content .nav-list {
  background-color: #E8EBEF;
  border-right: solid 1px #B0BAC6;
  width: 187px;
  height: 100%;
  float: left;
}
.content .nav-list #main-option {
  font-size: 14px;
  font-weight: bold;
}
.content .nav-list #main-option li {
  margin: 3px;
  height: 26px;
  line-height: 26px;
  padding: 3px 3px 0 20px;
  cursor: pointer;
}
.content .nav-list #main-option li:hover {
  background-color: #D6DBE0;
}
.content .nav-list #main-option span {
  margin-top: 4px;
  height: 20px;
  width: 25px;
  float: left;
}
.content .nav-list #main-option a {
  margin: 5px 0 5px 5px;
  color: #354B66;
  text-decoration: none;
}
.content .nav-list #main-option .write-letter {
  background: url('../imgs/nav-btn.gif') 0 -1px no-repeat;
}
.content .nav-list #main-option .receive-letter {
  background: url('../imgs/nav-btn.gif') 0 -33px no-repeat;
}
.content .nav-list #main-option .contact {
  background: url('../imgs/nav-btn.gif') 0 -63px no-repeat;
}
.content .nav-list #middle-area,
.content .nav-list #bottom-area {
  font-size: 12px;
  line-height: 20px;
  padding-top: 5px;
  color: #354B66;
}
.content .nav-list #middle-area li,
.content .nav-list #bottom-area li {
  padding: 3px 2px 2px 20px;
  cursor: pointer;
}
.content .nav-list #middle-area li a,
.content .nav-list #bottom-area li a {
  text-decoration: none;
  color: #354B66;
}
.content .nav-list #middle-area li:hover,
.content .nav-list #bottom-area li:hover {
  background-color: #D6DBE0;
}
.content .work-area {
  height: 100%;
  padding: 10px;
}
.content .work-area .top {
  height: 140px;
}
.content .work-area .top .title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.content .work-area .top .title a {
  color: #354B66;
}
.content .work-area .top .summary {
  font-size: 12px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content .work-area .top .summary a {
  text-decoration: none;
  color: #354B66;
}
.content .work-area .top .summary a:hover {
  text-decoration: underline;
}
.content .work-area .top .mail-list {
  padding-left: 23px;
  font-size: 14px;
}
.content .work-area .top .mail-list a {
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
  color: #354B66;
}
margin .content .work-area .top .mail-list a:hover {
  text-decoration: underline;
}
.content .work-area .intr {
  height: 240px;
  border: solid 1px #B0BAC6;
  border-radius: 2px;
}
.content .work-area .intr .title {
  background-color: #F4F6F8;
  height: 20px;
  line-height: 14px;
  padding: 8px 5px 0 10px;
  font-size: 14px;
  color: #354B66;
}
.content .work-area .intr .ad {
  background: url('../imgs/ad.jpg') 0 0 no-repeat;
  border-top: solid 1px #B0BAC6;
  border-bottom: solid 1px #B0BAC6;
  height: 83px;
  width: 100%;
}
.content .work-area .intr .fav span {
  font-size: 14px;
  width: 220px;
  height: 20px;
  margin: 15px 5px 5px 20px;
  display: inline-block;
  padding-left: 25px;
  padding-top: 2px;
  color: #354B66;
  cursor: pointer;
}
.content .work-area .intr .fav span:hover {
  text-decoration: underline;
}
.content .work-area .bottom {
  height: 200px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 3px;
}
.content .work-area .bottom span {
  color: #354B66;
}
.content .work-area .bottom a {
  color: #354B66;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  line-height: 16px;
}
.content .work-area .bottom a:hover {
  text-decoration: underline;
}
.work-area {
  margin-left: 188px;
}
.work-area .main-center {
  margin-right: 305px;
  height: 100%;
}
.work-area .ex-bar {
  float: right;
  width: 298px;
  height: 100%;
  font-size: 12px;
  line-height: 18px;
}
.work-area .ex-bar .resume {
  background-color: #EBEFF4;
  border-radius: 2px;
  padding: 8px;
  margin: 2px;
}
.work-area .ex-bar .resume .resume-header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.work-area .ex-bar .resume .resume-detail {
  color: #A8ADB8;
  line-height: 20px;
}
.work-area .ex-bar .resume .resume-detail a {
  color: #3D5E86;
}
.work-area .ex-bar .tip-area {
  border: solid 1px #B0BAC6;
  border-radius: 2px;
  margin-top: 15px;
}
.work-area .ex-bar .tip-area .tab {
  margin-top: 3px;
  background-color: #F4F6F8;
  height: 20px;
  border-radius: 3px;
}
.work-area .ex-bar .tip-area .tab .tab-header {
  vertical-align: middle;
  border: solid 1px #B0BAC6;
  border-radius: 3px;
  padding: 2px;
  width: 140px;
  float: left;
  text-align: center;
  cursor: pointer;
}
.work-area .ex-bar .tip-area .tab .tab-header.first {
  margin-right: -1px;
  margin-left: 2px;
}
.work-area .ex-bar .tip-area .tab .tab-header.active {
  background-color: #fff;
  border-bottom: none;
  cursor: auto;
}
.work-area .ex-bar .tip-area .tab-content {
  clear: both;
  height: 170px;
  padding: 8px;
}
.work-area .ex-bar .tip-area .tab-content .friend-info {
  height: 65px;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .avatar {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  float: left;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .avatar-1 {
  background: url('../imgs/avatar-1.jpg') 0 0 no-repeat;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .avatar-2 {
  background: url('../imgs/avatar-2.jpg') 0 0 no-repeat;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .friend-name {
  font-weight: bold;
  color: #82A207;
  margin-left: 50px;
  cursor: pointer;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .friend-tip {
  margin-left: 50px;
  line-height: 14px;
  margin-bottom: 2px;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .action {
  margin-left: 50px;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .action a {
  color: #3D5E86;
  margin-right: 5px;
  text-decoration: none;
}
.work-area .ex-bar .tip-area .tab-content .friend-info .action a:hover {
  text-decoration: underline;
}
.split {
  background-color: #BFC8D8;
  height: 1px;
}
.icon {
  background-image: url('../imgs/icons.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 3px;
}
.star {
  background-image: url('../imgs/icons.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 3px;
  background-position: -48px -176px;
}
.wheather-icon {
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  margin: 0 3px;
  display: inline-block;
}
.envelop {
  background-image: url('../imgs/icons.png');
  background-repeat: no-repeat;
  width: 12px;
  display: inline-block;
  margin: 0 3px;
  background-position: -32px -32px;
  padding-bottom: 2px;
  width: 16px;
  height: 12px;
}
.fav-icon {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
}
.iphone {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-position: 1px 0;
}
.post-card {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -31px;
}
.ipad {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -62px;
}
.note-book {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -93px;
}
.android {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -124px;
}
.transfer {
  background: url('../imgs/prd.png') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -158px;
}
.sunny {
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  margin: 0 3px;
  display: inline-block;
  background-image: url('../imgs/sunny.png');
}
.rainy {
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  margin: 0 3px;
  display: inline-block;
  background-image: url('../imgs/rainy.png');
}
.drift-bottle {
  background-image: url('../imgs/icons.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 3px;
  background-position: 0px -190px;
  height: 14px;
  margin-top: 2px;
  vertical-align: top;
}
.not-read {
  font-weight: bold;
}
.mid-anchor {
  text-align: center;
  margin: 5px;
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 40px;
  color: #3D5E86;
}
.mid-anchor:hover {
  text-decoration: underline;
}
